@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.manrope-font {
    font-family: "Manrope", sans-serif;

}

#bg_img {
    background-image: url(/images/bg_cup.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}